@page "/players/{playerTransfermarktId}/stats"

@using TransfermarktScraper.Domain.DTOs.Response
@using TransfermarktScraper.Domain.DTOs.Response.Stat
@using TransfermarktScraper.Domain.DTOs.Request.Stat
@using TransfermarktScraper.Web.Clients.Interfaces
@using TransfermarktScraper.Web.Services.Interfaces

@attribute [StreamRendering(true)]

@inject IPlayerStatClient PlayerStatClient
@inject IItemSelectionService ItemSelectionService

<PageTitle>Player Stats</PageTitle>

@if (player == null || playerStat == null)
{
    <MudText HtmlTag="em">Scraping player stats please wait...</MudText>
}
else
{
    <MudStack Row="true">
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="2">
                <MudContainer>
                    <MudBadge Content="@player.Number" Origin="Origin.BottomRight" Color="Color.Tertiary" Overlap="true">
                        <MudImage Src="@player.Portrait" Alt="@player.Name" Width="200">
                        </MudImage>
                    </MudBadge>

                </MudContainer>
            </MudItem>
            <MudItem xs="2" Class="mt-5">
                <MudList Dense="true" T="PlayerResponse">

                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" Class="mr-2" />Name: @player.Name</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small" Class="mr-2" />Age: @player.Age</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.CalendarToday" Size="Size.Small" Class="mr-2" />Date of birth: @player.DateOfBirth</MudListItem>
                    <MudListItem>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Filled.SouthAmerica" Size="Size.Small" />
                            Nationalities:
                            <MudAvatarGroup Spacing="0">
                                @foreach (var nationality in player.Nationalities)
                                {
                                    <MudAvatar Class="mr-2" Size="Size.Small" Square="true">
                                        <MudImage Src=@nationality></MudImage>
                                    </MudAvatar>
                                }
                            </MudAvatarGroup>
                        </MudStack>
                    </MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.Height" Size="Size.Small" Class="mr-2" />Height: @(player.Height.HasValue && player.Height.Value != 0 ? $"{player.Height} cm" : "-")</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.SportsSoccer" Size="Size.Small" Class="mr-2" />Preferred Foot: @(player.Foot != string.Empty ? player.Foot : "-")</MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="2" Class="mt-5">
                <MudList Dense="true" T="PlayerResponse">
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" Class="mr-2" />Position: @(player.Position != string.Empty ? player.Position : "-")</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.FlightLand" Size="Size.Small" Class="mr-2" />Start Contract: @player.ContractStart</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.FlightTakeoff" Size="Size.Small" Class="mr-2" />End Contract: @(player.ContractEnd ?? "-")</MudListItem>
                    <MudListItem><MudIcon Icon="@Icons.Material.Filled.EuroSymbol" Size="Size.Small" Class="mr-2" />Market value: @player.MarketValue €</MudListItem>
                    <MudListItem>
                        <MudSelect Label="Select Season"
                                   T="PlayerSeasonStatResponse"
                                   Value="selectedPlayerSeasonStat"
                                   ValueChanged="OnSelectedPlayerSeasonStatAsync">
                            @foreach (var season in playerStat.PlayerSeasonStats)
                            {
                                <MudSelectItem T="PlayerSeasonStatResponse" Value="season">
                                    @(season.SeasonTransfermarktId == "ges" ? "Overall Career" : season.SeasonTransfermarktId)
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="6">
                @if (player.MarketValues != null && player.MarketValues.Any())
                {
                    <MudChart ChartType="ChartType.Line"
                              XAxisLabels="@XAxisLabels"
                              ChartSeries="@Series"
                              ChartOptions="@Options"
                              AxisChartOptions="@AxisOptions"
                              LegendPosition="Position.Bottom"
                              Width="100%"
                              Height="450px" />
                }
            </MudItem>
        </MudGrid>
    </MudStack>
    @if (selectedPlayerSeasonStat != null && selectedPlayerSeasonStat.IsScraped)
    {
        @if (selectedPlayerSeasonStat.PlayerSeasonCompetitionStats == null)
        {
            <p>Stats list is null</p>
        }
        else if (!selectedPlayerSeasonStat.PlayerSeasonCompetitionStats.Any())
        {
            <p>Stats list is empty</p>
        }
        <MudList Dense="true" Gutters="true" T="PlayerSeasonStatResponse" Class="mt-6">
            <MudListItem Ripple="false">
                <MudListSubheader @onclick="() => IsPlayerSeasonOverallStatSelected = !IsPlayerSeasonOverallStatSelected">
                    <MudStack Row="true" AlignItems="AlignItems.Center">
                        <MudText Typo="Typo.h6">
                            @(
                        selectedPlayerSeasonStat.SeasonTransfermarktId == "ges"
                        ? "Overall Career Stats"
                        : $"Stats Season ({selectedPlayerSeasonStat.SeasonTransfermarktId})"
                        )
                        </MudText>
                    </MudStack>
                </MudListSubheader>
                <MudCollapse Expanded="@IsPlayerSeasonOverallStatSelected">
                    <MudTable Items="@selectedPlayerSeasonStat.PlayerSeasonCompetitionStats"
                              T="PlayerSeasonCompetitionStatResponse"
                              Dense="true">
                        <HeaderContent>
                            <MudTh>Competition</MudTh>
                            <MudTh>Appearances</MudTh>
                            @if (Domain.Enums.Extensions.PositionExtensions.ToEnum(player.Position) != Domain.Enums.Position.Goalkeeper)
                            {
                                <MudTh>Goals</MudTh>
                            }
                            <MudTh>Assists</MudTh>
                            <MudTh>Own Goals</MudTh>
                            <MudTh>Substitutions On</MudTh>
                            <MudTh>Substitutions Off</MudTh>
                            <MudTh>Yellow Cards</MudTh>
                            <MudTh>Second Yellow Cards</MudTh>
                            <MudTh>Red Cards</MudTh>
                            @if (Domain.Enums.Extensions.PositionExtensions.ToEnum(player.Position) != Domain.Enums.Position.Goalkeeper)
                            {
                                <MudTh>Penalty Goals</MudTh>
                                <MudTh>Minutes per Goal</MudTh>
                            }
                            else
                            {
                                <MudTh>Goals Conceded</MudTh>
                                <MudTh>Clean Sheets</MudTh>
                            }
                            <MudTh>Minutes Played</MudTh>
                        </HeaderContent>
                        <RowTemplate Context="playerSeasonCompetitionStat">
                            <MudTd>
                                <MudStack Row="true">
                                    <MudAvatar>
                                        <MudImage Src="@playerSeasonCompetitionStat.CompetitionLogo" Alt="@playerSeasonCompetitionStat.CompetitionName" />
                                    </MudAvatar>
                                    <MudText Typo="Typo.subtitle2" Class="mt-3">
                                        @playerSeasonCompetitionStat.CompetitionName
                                    </MudText>

                                </MudStack>
                            </MudTd>
                            <MudTd>@playerSeasonCompetitionStat.Appearances</MudTd>
                            @if (Domain.Enums.Extensions.PositionExtensions.ToEnum(player.Position) != Domain.Enums.Position.Goalkeeper)
                            {
                                <MudTd>@playerSeasonCompetitionStat.Goals</MudTd>
                            }
                            <MudTd>@playerSeasonCompetitionStat.Assists</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.OwnGoals</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.SubstitutionsOn</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.SubstitutionsOff</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.YellowCards</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.SecondYellowCards</MudTd>
                            <MudTd>@playerSeasonCompetitionStat.RedCards</MudTd>
                            @if (Domain.Enums.Extensions.PositionExtensions.ToEnum(player.Position) != Domain.Enums.Position.Goalkeeper)
                            {
                                <MudTd>@playerSeasonCompetitionStat.PenaltyGoals</MudTd>
                                <MudTd>@playerSeasonCompetitionStat.MinutesPerGoal</MudTd>
                            }
                            else
                            {
                                <MudTd>@playerSeasonCompetitionStat.GoalsConceded</MudTd>
                                <MudTd>@playerSeasonCompetitionStat.CleanSheets</MudTd>
                            }
                            <MudTd>@playerSeasonCompetitionStat.MinutesPlayed</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudCollapse>
            </MudListItem>
        </MudList>
    }
}

@code {
    [Parameter]
    public string playerTransfermarktId { get; set; } = default!;

    private PlayerStatResponse playerStat = null!;
    private PlayerResponse player = null!;
    private PlayerSeasonStatResponse? selectedPlayerSeasonStat;

    private PlayerSeasonCompetitionStatResponse? selectedPlayerSeasonCompetitionStat;
    private HashSet<PlayerSeasonCompetitionStatResponse> selectedPlayerSeasonCompetitionStats = new();

    private bool IsPlayerSeasonOverallStatSelected = true;

    public string[] XAxisLabels { get; set; } = Array.Empty<string>();
    private List<ChartSeries> Series = new();
    private ChartOptions Options = new();
    private AxisChartOptions AxisOptions = new();

    protected override async Task OnInitializedAsync()
    {
        player = ItemSelectionService.SelectedPlayers.First(player => player.TransfermarktId == playerTransfermarktId);

        await ScrapePlayerStatAsync("ges");
    }

    private async Task OnSelectedPlayerSeasonStatAsync(PlayerSeasonStatResponse playerSeasonStat)
    {
        selectedPlayerSeasonStat = playerSeasonStat;

        await ScrapePlayerStatAsync(playerSeasonStat.SeasonTransfermarktId);
    }

    private void TogglePlayerSeasonCompetitionStatSelection(PlayerSeasonCompetitionStatResponse playerSeasonCompetitionStat)
    {
        if (!selectedPlayerSeasonCompetitionStats.Add(playerSeasonCompetitionStat))
        {
            selectedPlayerSeasonCompetitionStats.Remove(playerSeasonCompetitionStat);
        }
    }

    protected override void OnParametersSet()
    {
        if (player.MarketValues != null && player.MarketValues.Any())
        {
            var dates = player.MarketValues.Select(mv => mv.Date);
            var yearsMonths = dates.Select(date => string.Concat(date.Month, "/", date.Year.ToString())).ToList();
            XAxisLabels = yearsMonths.ToArray();

            var seriesData = player.MarketValues.Select(mv => (double)mv.Value).ToArray();

            Series = new List<ChartSeries>
            {
                new ChartSeries
                {
                    DataMarkerTooltipYValueFormat = String.Format("C2"),
                    DataMarkerTooltipSubtitleFormat = "{{X_VALUE}}",
                    Name = "Market Value (€)",
                    Data = seriesData,
                    ShowDataMarkers = true,        
                }
            };

            AxisOptions = new AxisChartOptions
            {
                XAxisLabelRotation = 20
            };

            Options = new ChartOptions
            {
                YAxisRequireZeroPoint = true,
                YAxisTicks = 10000,
                YAxisFormat = "N0",
            };
        }
    }

    private async Task ScrapePlayerStatAsync(string seasonTransfermarktId)
    {
        var playerStatRequest = new PlayerStatRequest()
        {
            PlayerTransfermarktId = playerTransfermarktId,
            SeasonTransfermarktId = seasonTransfermarktId,
            Position = player.Position,
            IncludeAllPlayerTransfermarktSeasons = false
        };

        var playerStatRequests = new List<PlayerStatRequest> { playerStatRequest };
        
        var playerStatResponses = await PlayerStatClient.GetPlayerStatsAsync(playerStatRequests);

        if (playerStatResponses == null || !playerStatResponses.Any())
        {
            return;
        }

        playerStat = playerStatResponses.First();
    }
}
